@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.container {
    max-width: 1200;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;

}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    /* color: #fff; */
}

img{
    max-width: 100%;
    height: auto;
}


@theme {
    --breakpoint-mobile: 576px;
    --breakpoint-tablet: 768px;
    --breakpoint-laptop: 992px;
    --breakpoint-desktop: 1200px;
}